*{
	/*Google Fonts*/
	font-family: 'Titillium Web', sans-serif;
	
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
}

#container{
	text-indent: 50px;
}

#pre_footer {
    background-color: #002540;
    padding: 1.5rem 1.5rem 1.5rem;
}
#container2 {
    margin: 0 auto;
    position: relative;
}


#flex_content{

	display: inline-block;
  	flex-wrap: wrap;
	color: white;
 }

#list{
	list-style-type: none;
}

#indent{
	text-indent: 120px;
}

#spacing{
	word-spacing: 4px;
	text-indent: 20px;
}
